<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Tarea 14</title>
    
</head>
<body ng-app="app">
    <div ng-controller="CalculadoraController">
    
      <label>Horas Trabajadas</label>
      <input type="number" ng-model="horasTrabajadas">
      <label>Tarifa por Hora</label>
      <input type="number" ng-model="tarifaporHora">
      <br>
      <label>Salario básico:</label>
      {{ salarioBasico() }}
      <br>
      <label>Descuento:</label>
      {{ descuento() }}
      <br>
      <label>Salario neto:</label>
      {{ salarioNeto() }}
    </div>
  </body>  
</html>
<script src="js/script.js"></script>

